<div class="row">
<div class="col-4">
<form #RegisterformRef="ngForm" (ngSubmit)="Save(RegisterformRef)">
  <table class="table table-borderless">
    <tr>
      <th class="formth"> First Name (minLength:3) :</th>
      <td><input type="text" ngModel class="form-control" name="firstname" minlength="3" ></td>
    </tr>
    <tr>
      <th class="formth"> Second Name :</th>
      <td><input type="text" ngModel class="form-control" name="secondname" minlength="3"></td>
    </tr>
    <tr>
      <th class="formth"> Last Name :</th>
      <td><input type="text" ngModel class="form-control" name="lastname" minlength="3"></td>
    </tr>
    <tr>
      <th class="formth"> Phno :</th>
      <td><input type="text" ngModel class="form-control" name="phno" maxlength="10" required></td>
    </tr>
    <tr>
      <th class="formth">Email :</th>
      <td><input type="email" ngModel class="form-control" name="email" required></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
         Valid : {{RegisterformRef.valid}} <br/>
         Invalid : {{RegisterformRef.invalid}} <br/>

        <input type="submit" class="btn btn-primary m-2" value="Save" [disabled]="RegisterformRef.invalid" >
        <input type="reset" class="btn btn-info" value="clear">
      </td>
    </tr>

  </table>
</form>
</div>
<div class="col-8">
    <table class="table table-bordered">
          <tr>
            <th>Sr No</th>
            <th>FirstName</th>
            <th>Second Name</th>
            <th> Last Name</th>
            <th> Phno </th>
            <th> Email</th>
          </tr>
      @for(user of userlist;track $index){
         <tr>
            <td> {{$index+1}}</td>
             <td> {{user.firstname}}</td>
             <td> {{user.secondname}}</td>
             <td>{{user.lastname}}</td>
             <td>{{user.phno}}</td>
             <td>{{user.email}}</td>
         </tr>
      }
    </table>
</div>
</div>
