<div class="row">
  <div class="col-4">
    <form [formGroup]="formGroup" (ngSubmit)="add()"  >
      <table>
        <tr>
          <th>First Name :</th>
          <td>
            <input type="text" size="20" class="form-control" formControlName="firstname">
          </td>
        </tr>
        <tr>
          <th> Last Name :</th>
          <td>
            <input type="text" size="20" class="form-control" formControlName="lastname">
          </td>
        </tr>
        <tr>
          <th> Email :</th>
          <td>
            <input type="text" size="20" class="form-control" formControlName="email">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="save" [disabled]="formGroup.invalid"  class="btn btn-outline-primary">
            <input type="reset" value="clear" class="btn btn-outline-info">
          </td>
        </tr>
      </table>

    </form>

  </div>

</div>

