<div class="row">
  <div class="col-4">
    <form >
       <table class="table table-borderless">
         <thead>
         <tr>
           <th colspan="5" class="h2">
               Student Entry Form
           </th>
         </tr>
         </thead>
         <tbody>
              <tr>
                 <th> Roll No:</th>
                  <td>
                    <input type="text" size="20" class="form-control" #rolln>
                  </td>
              </tr>
              <tr>
                <th> Name :</th>
                <td>
                  <input type="text" size="20" class="form-control" #nam>
                </td>
              </tr>
             <tr>
               <th>Maths :</th>
               <td><input type="number" size="20" class="form-control" #math></td>
             </tr>
             <tr>
               <th>Science :</th>
               <td><input type="number" size="20" class="form-control" #scienc> </td>
             </tr>
              <tr>
                <th>English :</th>
                <td><input type="number" size="20" class="form-control" #englis> </td>
              </tr>

              <tr>
              <td colspan="5">
                <input type="button" value="save" class="btn btn-outline-primary" (click)="Save(rolln,nam,math,scienc,englis)" >
                <input type="reset" value="clear" class="btn btn-outline-info">
              </td>
            </tr>
         </tbody>
       </table>
    </form>
  </div>
  <div class="col-8">
         <table class="table table-bordered table-light">
           <thead>
               <tr>
                 <th>Sr.No</th><th>Roll No</th> <th>Name</th> <th>Maths</th> <th>Science</th> <th> English</th><th>Pass/Fail</th>
               </tr>

                 @for(student of  StudentList;track $index){
                   <tr>
                       <td>{{$index+1}}</td>
                        <td> {{student.rno}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.maths}}</td>
                        <td>{{student.science}}</td>
                        <td>{{student.english}}</td>
                        @if(student.maths>=35 && student.science>=35 && student.english>=35){
                          <td style="color:green;"> Pass</td>
                        }
                        @else{
                          <td style="color:red;">Fail </td>
                        }
                   </tr>
                 }

           </thead>

         </table>

  </div>

</div>
