<div class="row">
  <div class="col-4">
       <table class="table table-borderless">
         <thead>
         <tr>
           <th colspan="5" class="h2">
               Student Entry Form
           </th>
         </tr>
         </thead>
         <tbody>
              <tr>
                 <th> Roll No:</th>
                  <td>
                    <input type="text" size="20" class="form-control" #rolln>
                  </td>
              </tr>
              <tr>
                <th> Name :</th>
                <td>
                  <input type="text" size="20" class="form-control" #nam>
                </td>
              </tr>
             <tr>
               <th>Maths :</th>
               <td><input type="number" size="20" class="form-control" #math></td>
             </tr>
             <tr>
               <th>Science :</th>
               <td><input type="number" size="20" class="form-control" #scienc> </td>
             </tr>
              <tr>
                <th>English :</th>
                <td><input type="number" size="20" class="form-control" #englis> </td>
              </tr>

              <tr>
              <td colspan="5">
                <input type="button" value="save" class="btn btn-outline-primary" (click)="Save(rolln,nam,math,scienc,englis)" >
                <input type="reset" value="clear" class="btn btn-outline-info">
              </td>
            </tr>
         </tbody>
       </table>
  </div>
  <div class="col-8">

        <h1> Student Info </h1>
         <ul>
            <li> Roll No: {{rollno}}</li>
            <li> Name : {{name}}</li>
            <li>Maths :{{maths}}</li>
            <li>Science :{{science}}</li>
            <li>English :{{english}}</li>
            @if(maths>=35 && science>=35 && english>=35){
               <li>You are Pass</li>
                <li> Total : {{maths+science+english}}</li>
                <li> Avg : {{(maths+science+english)/3}}</li>
            }
           @else{
               <li> You are Fail </li>
           }
<!--            <li>Pass/Fail :{{pass_fail}}</li>-->
<!--            <li> Total : {{total}}</li>-->
         </ul>
  </div>

</div>
